body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}
/* Container */
.container {
  width: 800px;
  margin: 0 auto;
}
/* ********** */

/* Header Nav and Site Logo */
header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  padding-bottom: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 60px;
}

.site-logo {
  padding-bottom: 20px;
}
/* ************************ */

/******** Jumbotron ****** */
.jumbo {
  padding-bottom: 20px;
}
/* ********************* */

hr {
  border: 0.5px dashed black;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  padding-top: 20px;
  margin-left: 15px;
}
